nav {
  padding: 0;
  font-size: 95%;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    font-size: 95%;
  }
  ul.menu {
    margin: 0 -1em;
    padding:  0 1em;
    position: relative;
    clear: both;
    background: #DEDEDE;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      text-align: center;
      margin: 0;
      padding: 0;
      ul {
        position: absolute;
        text-align: left;
        visibility:hidden;
        top: 150%;
        left: 0;
        opacity: 0;
        padding: 0em 0 !important;
        margin: 0;
        visibility: hidden;
        transition:all .5s ease;
        -webkit-transition:all .5s ease;
        width: 200px;
        box-shadow: 1px 1px 4px rgba(0,0,0,.25);
        @include border-radius(3px);
        a {
          padding:0;
        }
        li {
          padding: .5em 1.25em ;
        }
      }
      li:hover {
        ul {
          z-index: 99;
          background-color: darken($site-bg, 5%);
          top:110%;
          left: 0;
          opacity: 1;
          visibility: visible;
          li {
            display: block;
            &:hover {
              background-color: darken($site-bg, 10%);
            }
          }
        }
      }
    }
    ul {
      padding: 0 1em;
    }
  }
  li.leaf, li, li.expanded {
    list-style: none;
    padding: .5em;
    margin: 0;
    position: relative;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      padding: 0 .4em;
      font-size: 90%;
    }
    @include breakpoint($desktop) {
      padding: 0 .75em;
      font-size: 100%;
    }
    @include breakpoint($phone) {
    border-bottom: 1px solid #ccc;
      &.last {
        border-bottom: 0;
      }
    }
    li {
      padding: .35em 0;
      font-size: 90%;
      border-bottom: 0;
    }
    @include breakpoint($tablet, $no-query: '.no-mq') {
      display: inline-block;
    }
  }
  a, a:visited {
    text-decoration: none;
    text-transform: uppercase;
   // font-weight: 700;
    color: #474747;
    display: block;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      padding: .5em 0;
    }
    &:hover {
      color:#111;
    }
    // &.active {
    //   @include breakpoint($tablet, $no-query: '.no-mq') {
    //     border-bottom: 2px solid #000;
    //     padding-bottom: 1em;

    //   }
    // }
  }
}

.js {
  nav {
    ul.hide {
      @include breakpoint($phone) {
        display: none;
      }
    }
  }
}

.menu-btn {
  background: url('../images/menu-icon.png') no-repeat center center;
  width: 20%;
  height: 30px;
  float: right;
  position: relative;
  z-index: 999;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    display: none;
  }
}