.sidebar-call {
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    @include border-radius(3px);
    padding: 1em;
    margin-top: 1em;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      @include grid-span(3,10);
      margin-top: -11em;
      position: relative;
      margin-bottom: 1em;
      margin-left: 2em;
    }
    h2 {
      margin: 0 0 1em;
      font-weight: 300;
      font-style: italic;
      font-size: 1.4em;
    }
    p {
      overflow: hidden;
      margin: 0 0 1em;
      font-size: 1.1em;
      color: #525252;
    }
    i.icon {
      &:before {
        content: '';
        float: left;
        margin-right: 1em;
        margin-top: 6px;
      }
      &.location:before {
        background: url('../images/pin.png') no-repeat;
        width: 13px;
        height: 19px;
      }
      &.contact:before {
        background: url('../images/contact.png') no-repeat;
        width: 14px;
        height: 14px;
      }
    }
}
.contact-btn a {
  @include btn($color-one, #fff, #098050, 4px, $normal);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 1px 0px 0px #FFFFFF;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 110%;
}