# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/*/private

# Ignore default text files
robots.txt

.sass-cache/
sass/*/.__*.scss
._*
.DS_Store