.preface {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  .preface-bar {
    position: absolute;
    bottom: 6px;
    z-index: 1;
    line-height: 0;
    width: 101%;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      bottom: -1px;
    }
  }
  img, picture {
    width: 100%;
  }
}

.front .preface {
  max-height: 550px;
}